In [1]:
import geopandas as gpd
import pandas as pd
import urllib
import requests
from urllib.request import urlretrieve

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.11) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
#Bus route and bus stop. 

#ROUTE
busroute_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_BUS_ROUTE.shp')
#change to long lat form.
busroute_df['geometry'] = busroute_df['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
busroute_df.head(5)

#STOP
bus_stopdf = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_BUS_STOP.shp')
#I think we can drop the geometry column since we already have the long lat. 
bus_stopdf.head(5)

#Uncomment this to change these df to csv
#busroute_df.to_csv('../data/curated/busroute.csv', index = False)
#bus_stopdf.to_csv('../data/curated/bus_stop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,10185,Bonnie View Rd/Maroondah Hwy (Croydon North),-37.780920,145.288145,2,670,POINT (2525382.058 2413301.686)
1,10186,Primrose Rd/Maroondah Hwy (Croydon North),-37.774626,145.292843,2,670,POINT (2525798.041 2413998.960)
2,10187,Exeter Rd/Maroondah Hwy (Croydon North),-37.770446,145.295459,2,670,POINT (2526029.916 2414462.170)
3,10188,Maroondah Golf Park/Maroondah Hwy (Chirnside P...,-37.766346,145.301775,2,670,POINT (2526587.813 2414915.456)
4,10189,Old Melbourne Rd/Maroondah Hwy (Chirnside Park),-37.765276,145.304410,2,670,POINT (2526820.334 2415033.471)

In [3]:
#Regional bus stop and route. 
#route
regbusroute_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_BUS_ROUTE.shp')
regbusroute_df['geometry'] = regbusroute_df['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
regbusroute_df.head(5)

#stop
regbusstop_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_BUS_STOP.shp')
regbusstop_df.head(5)
#regbusroute.to_csv('../data/curated/regbusroute.csv', index = False)
#regbusstop.to_csv('../data/curated/regbusstop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,ROUTEUSSP,geometry
0,23195,Andrew St/Union St (Kilmore),-37.290492,144.952280,None,POINT (2495769.158 2467764.786)
1,23197,Wellington Square SC/Queen St (Wallan),-37.412990,144.978019,Wallan 1,POINT (2498054.298 2454172.079)
2,23202,Aquamoves/Tom Collins Dr (Shepparton),-36.386027,145.394445,9,POINT (2535387.035 2568051.417)
3,23224,West End Caravan Park/Murray Valley Hwy (Yarra...,-36.022176,145.977047,None,POINT (2588067.354 2608044.554)
4,23225,Jane Rd/Fiona Dr (Yarrawonga),-36.006707,146.025958,None,POINT (2592494.343 2609714.500)

In [5]:
#merge metro and regional bus stop df. 
#adding ticket zone to the regional bus stop df. 
#0 means no ticket zone. 
regbusstop_df['TICKETZONE'] = 0
#regbusstop_df = regbusstop_df[['STOP_ID', 'STOP_NAME', 'LATITUDE', 'LONGITUDE', 'TICKETZONE','ROUTEUSSP']]
regbusstop_df
fulll_bustop = pd.concat([bus_stopdf, regbusstop_df])
fulll_bustop

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,10185,Bonnie View Rd/Maroondah Hwy (Croydon North),-37.780920,145.288145,2,670,POINT (2525382.058 2413301.686)
1,10186,Primrose Rd/Maroondah Hwy (Croydon North),-37.774626,145.292843,2,670,POINT (2525798.041 2413998.960)
2,10187,Exeter Rd/Maroondah Hwy (Croydon North),-37.770446,145.295459,2,670,POINT (2526029.916 2414462.170)
3,10188,Maroondah Golf Park/Maroondah Hwy (Chirnside P...,-37.766346,145.301775,2,670,POINT (2526587.813 2414915.456)
4,10189,Old Melbourne Rd/Maroondah Hwy (Chirnside Park),-37.765276,145.304410,2,670,POINT (2526820.334 2415033.471)
...,...,...,...,...,...,...,...
6738,536,Memorial Dr/Sago Hill Rd (Haddon),-37.589701,143.720646,0,None,POINT (2387022.639 2433802.759)
6739,6285,Bloomfield Rd/Queen St (Nilma),-38.169784,145.967323,0,None,POINT (2584769.402 2369747.310)
6740,63,Armstrong St/Sturt St (Ballarat Central),-37.561515,143.855823,0,None,POINT (2398921.645 2437082.473)
6741,7009,Harrison St/Marengo Crst (Marengo),-38.777123,143.663226,0,None,POINT (2383803.151 2301931.847)
6742,82,Ballarat Railway Station/Lydiard St (Ballarat ...,-37.558656,143.858761,0,"Goldrush,",POINT (2399177.373 2437402.851)

In [6]:
#Train station 
trainst_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAIN_STATION.shp')

trainst_df.head(5)
#trainst_df.to_csv('../data/curated/trainstdf.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield,POINT (2495798.326 2413308.750)
1,19971,Flemington Bridge Railway Station (North Melbo...,-37.788140,144.939323,1,Upfield,POINT (2494655.617 2412537.079)
2,19972,Macaulay Railway Station (North Melbourne),-37.794267,144.936166,1,Upfield,POINT (2494377.988 2411856.883)
3,19973,North Melbourne Railway Station (West Melbourne),-37.807419,144.942570,1,"Flemington,Sunbury,Upfield,Werribee,Williamsto...",POINT (2494942.888 2410397.549)
4,19974,Clifton Hill Railway Station (Clifton Hill),-37.788657,144.995417,1,"Mernda,Hurstbridge",POINT (2499596.328 2412481.387)

In [8]:
#regional train station. 
regtrainst_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_TRAIN_STATION.shp')
regtrainst_df.head(5)
#regtrainst_df.to_csv('../data/curated/regtrainst_df.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,geometry
0,17204,Wallan Railway Station (Wallan),-37.416861,145.005372,POINT (2500475.488 2453742.721)
1,19980,Melton Railway Station (Melton South),-37.703359,144.572216,POINT (2462278.864 2421863.381)
2,19981,Rockbank Railway Station (Rockbank),-37.729261,144.650631,POINT (2469203.843 2419016.944)
3,19982,Deer Park Railway Station (Deer Park),-37.777764,144.772304,POINT (2479941.927 2413666.385)
4,19998,Sunbury Railway Station (Sunbury),-37.579206,144.728165,POINT (2475990.755 2435692.328)

In [10]:
#merge metro and regional train stations df. 
#adding ticket zone and routessp to the regional train station df. 
#0 means no ticket zone and no routessp
regtrainst_df['TICKETZONE'] = 0
regtrainst_df['ROUTEUSSP'] = 0
#regbusstop_df = regbusstop_df[['STOP_ID', 'STOP_NAME', 'LATITUDE', 'LONGITUDE', 'TICKETZONE','ROUTEUSSP']]
regtrainst_df
fulll_trainst = pd.concat([trainst_df, regtrainst_df])
fulll_trainst

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield,POINT (2495798.326 2413308.750)
1,19971,Flemington Bridge Railway Station (North Melbo...,-37.788140,144.939323,1,Upfield,POINT (2494655.617 2412537.079)
2,19972,Macaulay Railway Station (North Melbourne),-37.794267,144.936166,1,Upfield,POINT (2494377.988 2411856.883)
3,19973,North Melbourne Railway Station (West Melbourne),-37.807419,144.942570,1,"Flemington,Sunbury,Upfield,Werribee,Williamsto...",POINT (2494942.888 2410397.549)
4,19974,Clifton Hill Railway Station (Clifton Hill),-37.788657,144.995417,1,"Mernda,Hurstbridge",POINT (2499596.328 2412481.387)
...,...,...,...,...,...,...,...
105,47642,Epsom Railway Station (Epsom),-36.706342,144.321040,0,0,POINT (2439341.936 2532367.567)
106,47647,Wyndham Vale Railway Station (Manor Lakes),-37.872886,144.608732,0,0,POINT (2465576.072 2403062.251)
107,47648,Tarneit Railway Station (Tarneit),-37.832168,144.694714,0,0,POINT (2473126.286 2407609.154)
108,48804,Cobblebank Railway Station (Cobblebank),-37.712546,144.604108,0,0,POINT (2465095.264 2420855.956)
109,52011,Caroline Springs Railway Station (Ravenhall),-37.766145,144.735748,0,0,POINT (2476718.066 2414947.598)

In [11]:
#Tram route and stop. 

#Route
tramrout_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAM_ROUTE.shp')
tramrout_df['geometry'] = tramrout_df['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
tramrout_df.head(5)

#Stop
tramstop_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAM_STOP.shp')
tramstop_df.head(5)
#tramrout_df.to_csv('../data/curated/tramroute.csv', index = False)
#tramstop_df.to_csv('../data/curated/tramstop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,18730,134-Merribell Ave/Nicholson St (Coburg),-37.744359,144.977728,1,1,POINT (2498037.154 2417397.585)
1,18732,44-Deepdene Park/Whitehorse Rd (Balwyn),-37.811375,145.068671,1,109,POINT (2506046.658 2409957.824)
2,18733,45-Hardwicke St/Whitehorse Rd (Balwyn),-37.811750,145.071785,1,109,POINT (2506320.822 2409915.999)
3,18734,46-Balwyn Cinema/Whitehorse Rd (Balwyn),-37.812242,145.075930,1,109,POINT (2506685.725 2409861.116)
4,18735,47-Balwyn Rd/Whitehorse Rd (Balwyn),-37.812919,145.081524,"1,2",109,POINT (2507178.224 2409785.573)

In [12]:
#Merging all public transport stops and stations df together. 
full_ptvdf = pd.concat([fulll_bustop, fulll_trainst, tramstop_df])
full_ptvdf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,10185,Bonnie View Rd/Maroondah Hwy (Croydon North),-37.780920,145.288145,2,670,POINT (2525382.058 2413301.686)
1,10186,Primrose Rd/Maroondah Hwy (Croydon North),-37.774626,145.292843,2,670,POINT (2525798.041 2413998.960)
2,10187,Exeter Rd/Maroondah Hwy (Croydon North),-37.770446,145.295459,2,670,POINT (2526029.916 2414462.170)
3,10188,Maroondah Golf Park/Maroondah Hwy (Chirnside P...,-37.766346,145.301775,2,670,POINT (2526587.813 2414915.456)
4,10189,Old Melbourne Rd/Maroondah Hwy (Chirnside Park),-37.765276,145.304410,2,670,POINT (2526820.334 2415033.471)
...,...,...,...,...,...,...,...
1660,6037,34-Bent St/High St (Northcote),-37.767614,144.999096,1,86,POINT (2499920.365 2414816.866)
1661,6038,33-Arthurton Rd/High St (Northcote),-37.769413,144.998900,1,86,POINT (2499903.082 2414617.212)
1662,6039,32-Mitchell St/High St (Northcote),-37.771138,144.998569,1,86,POINT (2499873.937 2414425.759)
1663,6040,31-Northcote Town Hall/High St (Northcote),-37.774712,144.997837,1,86,POINT (2499809.436 2414029.097)
1664,6041,30-Clarke St/High St (Northcote),-37.776690,144.997534,1,86,POINT (2499782.770 2413809.565)

### Proximity Sample

In [3]:
# Initialise
import os
import sys
import pandas as pd
import logging
import openrouteservice
from shapely.geometry import Polygon, Point, MultiLineString, MultiPolygon
import time


logging.basicConfig(level=os.environ.get("LOGLEVEL", "INFO"))
sys.path.append("../scripts")
from distance_proximity import proximity, travel_time

api_key = os.environ["ORS_KEY"]

# CHANGE THIS EACH CYCLE
CALL_RANGE = range(0, 1)

In [17]:
##ONLY RUN THIS THE FIRST TIME. OUTPUT WILL BE OVERWRITTEN OTHERWISE. YOU HAVE BEEN WARNED
df = pd.read_json("../data/raw/scrape_2022-09-02_04-12-25-567025.json")
# Set output columns
df["bus_duration"] = 0
df["bus_distance"] = 0

,url,price,address,num_beds,num_bath,num_car,property_type,agent,bond,internal_area,...,demographic_population,demographic_average_age,demographic_owner,demographic_renter,demographic_family,demographic_single,latitude,longitude,bus_duration,bus_distance
0,https://www.domain.com.au/40-esmond-street-ard...,$400,40 Esmond Street Ardeer VIC 3022,3 Beds,2 Baths,1 Parking,House,Create Vic Real Estate,Bond $1738,None,...,"Population: 3,099",Average age: 20 to 39,67%,33%,41%,59%,-37.775134,144.797067,0,0
1,https://www.domain.com.au/11-grant-avenue-gisb...,$600.00,11 Grant Avenue Gisborne VIC 3437,4 Beds,2 Baths,1 Parking,House,Brad Teal Woodards Gisborne,Bond $2608,None,...,"Population: 9,000",Average age: 40 to 59,83%,17%,58%,42%,-37.493363,144.595569,0,0
2,https://www.domain.com.au/15-balmoral-avenue-b...,$575,15 Balmoral Avenue Bundoora VIC 3083,3 Beds,1 Bath,3 Parking,House,Thomas Quixley Fairfield Pty Ltd,Bond $2499,None,...,"Population: 28,681",Average age: 20 to 39,72%,28%,47%,53%,-37.707414,145.065424,0,0
3,https://www.domain.com.au/6-39-wellington-stre...,$600 per week,6/39 Wellington Street St Kilda VIC 3182,2 Beds,3 Baths,2 Parking,Apartment / Unit / Flat,Wilson Port Phillip,Bond $2607,None,...,"Population: 20,218",Average age: 20 to 39,35%,65%,22%,78%,-37.856525,144.985485,0,0
4,https://www.domain.com.au/7-9-sheffield-street...,$370 Weekly,7/9 Sheffield Street Coburg VIC 3058,2 Beds,1 Bath,1 Parking,Apartment / Unit / Flat,Walshe & Whitelock Pty Ltd,None,None,...,"Population: 26,188",Average age: 20 to 39,65%,35%,42%,58%,-37.746280,144.966701,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15266,https://www.domain.com.au/7-wingara-avenue-kei...,$420 Per Week,7 Wingara Avenue Keilor East VIC 3033,2 Beds,1 Bath,1 Parking,House,Biggin & Scott Sunshine,Bond $1825,None,...,"Population: 14,509",Average age: 60+,81%,19%,55%,45%,-37.735704,144.866525,0,0
15267,https://www.domain.com.au/3-32-loller-street-b...,$560.00,3/32 Loller Street Brighton VIC 3186,2 Beds,1 Bath,1 Parking,Apartment / Unit / Flat,Hodges Real Estate Brighton,Bond $2433,None,...,"Population: 23,254",Average age: 40 to 59,74%,26%,54%,46%,-37.915754,145.001074,0,0
15268,https://www.domain.com.au/newborough-vic-3825-...,Rent2own with No Deposit,Newborough VIC 3825,4 Beds,2 Baths,2 Parking,House,First Step Homes 4U,Bond $1600,None,...,"Population: 6,762",Average age: 60+,73%,27%,43%,57%,-38.170283,146.292807,0,0
15269,https://www.domain.com.au/42-george-street-oak...,$490,42 George Street Oakleigh VIC 3166,3 Beds,1 Bath,1 Parking,House,Metropole Properties Melbourne,Bond $2129,None,...,"Population: 7,907",Average age: 20 to 39,66%,34%,48%,52%,-37.904848,145.101938,0,0
15270,https://www.domain.com.au/16-415-toorak-road-t...,$590.00 per week,16/415 Toorak Road Toorak VIC 3142,2 Beds,2 Baths,1 Parking,Apartment / Unit / Flat,Woodards Elsternwick,Bond $2563,None,...,"Population: 12,913",Average age: 60+,64%,36%,48%,52%,-37.840415,145.006067,0,0

In [8]:
##Need ptv stops to be in two lists, lats and longs
bus_lats = full_ptvdf["LATITUDE"].values.tolist()
bus_longs = full_ptvdf["LONGITUDE"].values.tolist()

In [9]:
#df = pd.read_csv("../data/curated/ptv_distance_sample.csv")
start_time = time.time()

for i in CALL_RANGE:
    try:
        # -37.7751338, 144.7970672
        # This returns the index of the closest stops (no api call, coordinates maths)
        candidate = proximity(
            df.iloc[i, -4], df.iloc[i, -3], bus_lats, bus_longs, top_only=True
        )
        # This makes the call
        # 144.7970672, -37.7751338,
        dis, dur = travel_time(
            df.iloc[i, -3],
            df.iloc[i, -4],
            bus_longs[candidate],
            bus_lats[candidate],
            api_key,
        )

        df.at[i, "bus_duration"] = dur / 60
        df.at[i, "bus_distance"] = dis
        logging.info(f"Finished property index {i}")
    except Exception as e:
        logging.error(e)
        continue

end_time = time.time()
logging.info(f"Time taken, {(end_time - start_time)/60} mins")

df.to_csv("../data/curated/ptv_distance_sample.csv")

INFO:root:Finished property index 0
INFO:root:Time taken, 0.0671736717224121 mins